@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Covid-19 Record Keeping Application</h1>
   <img src="https://lh3.googleusercontent.com/proxy/S6bBQD55ChXcJRAQPdguouJtW5MnE7DDxMuGdXXTaHoajSLtl14BfEcAfGljASrtWhKVwPyb7zDNEoJLS8A7ecaMyWospVMy">
</div>
